.displaynone {
    display: none;
}

.displayAdvertence {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://64.media.tumblr.com/5466c7a9b54fd34c55f3a876f22adf45/c119efe1e6b61576-a6/s1280x1920/1388c4b6938bde412c1d8ec6adc071a33b369109.png');
    justify-content: center;
    align-items: center;
    background-size: cover;
    gap: 30px;
    
}
.content-advertence {
    max-width: 600px;
    text-align: center;
    border-radius: 20px;
    padding: 50px;
    border: 1px solid rgb(83, 83, 83);
    background: #1A1B1E;
    
}

.content-advertence ul {
    text-align: left;
    margin-top: 20px;
    font-size: 19px;
    list-style: none;
    margin-bottom: 20px;
}

.content-advertence ul li {
    margin-top: 6px;
}

.displayAdvertence h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #AAD0FF;

}

.displayAdvertence img {
    width: 300px;
    margin-bottom: 20px;
}

.displayAdvertence p {
    font-size: 18px;
    margin-top: 20px;
}
.displayAdvertence h2 {
    font-weight: 100;
    font-size: 23px;
}

.title-loader {
    color: white;
    text-decoration: none;
}

.container-loader {
    color: white;
}