.page {
    width: 100%;
    max-width: 100vw;
  box-sizing: border-box; 
}

.no-color {
    text-decoration: none;
    color: white;
}

.zone-full {
    width: 100%;
    height: 100vh;
    position: relative;
}

.background-all {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.background-mid {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.zone-1 {
    position: absolute; /* Usamos posición absoluta para posicionar las tarjetas */
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    padding: 40px;

}

.title-general {
    font-size: 22px;

}

.cards {
    display: flex;
    margin-top: 15px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}


