.page {
    width: 100%;
    max-width: 100vw;
  box-sizing: border-box; 
}

.no-color {
    text-decoration: none;
    color: white;
}

.zone-full {
    width: 100%;
    height: 100vh;
    position: relative;
}

.background-all {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.zone-1 {
    position: absolute; /* Usamos posición absoluta para posicionar las tarjetas */
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    padding: 40px;

}

.title-general {
    font-size: 22px;

}

.cards {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

.card {
    width: 340px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.img-card {
    width: 100%;
    height: 100%;
}

.text-card {
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 7px;
    transform: translateY(100%); /* Inicialmente, el texto estará escondido debajo de la card */
  transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    color: white;
}

.card:hover .text-card {
    transform: translateY(0);
}
