/* Estilo para el input */
#tabla {
    color: white;
    border-style: none;
  }
  
  /* Estilo para el botón */
  #boton {
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .private-launch {
    flex-direction: column;
  }
  