/* Estilo para el input */
#tabla {
    color: white;
    border-style: none;
  }
  
  /* Estilo para el botón */
  #boton {
    font-size: 16px;
    background-color: #48b6ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button-general-opt {
    background: #48b6ff;
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    color: white;
    border: none;
    font-weight: 100;
    font-size: 18px;
    transition: all 0.4s;
    padding-inline: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .private-launch {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.541);
  } 

  body.no-scroll {
    overflow: hidden;
  }



  .content-private-config {
    display: flex;
    background-color: #1A1B1E;
    flex-direction: column;
    text-align: left;
    width: 60%;
    height: 600px;
    padding: 40px;
    justify-content: space-between;
  }



  .text-private-launch{
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .button-general-short {
    background: #48b6ff;
    color: white;
    border: none;
    font-weight: 100;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.4s;
    padding-inline: 20px;
    padding-top: 5px;
    margin-left: 10px;
    padding-bottom: 5px;
  }

  .no-list  {
    list-style: none;
    margin-top: 20px;
    max-height: 200px;
    flex-wrap: wrap;
    overflow: auto;
  }

  .no-list::-webkit-scrollbar {
    width: 14px; /* width of the entire scrollbar */
  }
  
  .no-list::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); /* color of the tracking area */
  }
  
  .no-list::-webkit-scrollbar-thumb {
    background-color: rgb(99, 99, 99); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
  }
  
  .lista {
    list-style: none;
  }

  .no-list li {
    font-size: 16px;
    background-color: #2D3036;;
    padding: 15px;
  }


  