/* src/Modal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* Inicialmente transparente */
  transition: opacity 0.3s;
  /* Agrega una transición de 0.3 segundos */
  z-index: 4;
}

.modal.open {
  height: 100%;
  width: 100%;
  /* Hace el modal completamente visible */
}

.modal.open html {
  overflow: hidden;
}

.modal-content {
  background-color: #000000;
  width: 70%;
  height: 70%;
  border-radius: 5px;
  transition: transform 2.3s ease;
  /* Agrega una transición de 0.3 segundos */
  display: flex;
}

.modal-content::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px 0px 0px 3px rgb(255 255 255 / 15%);
  border-radius: 10px;
  position: absolute;
}

.modal.open .modal-content {
  transform: scale(1);
  /* Hace que el modal se expanda */
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  width: 100%;
  /* Haz que el botón ocupe todo el ancho */
  height: 100%;
}

.open {
  display: flex;
  opacity: 1;
}

.modal-content-loading {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-info {
  width: 100%;
  display: flex;
}

.modal-info-img {
  object-fit: cover;
  background-size: cover;
  width: 60%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.modal-info-text {
  width: 100%;
  margin: 30px;
}



.modal-info-text h3 {
  font-size: 17px;
  margin-top: 15px;
}

.modal-info-text-desc {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: rgb(223, 223, 223);


}

.autor-modal {
  color: rgb(158, 158, 158);
  font-size: 15px;
  margin-top: 5px;
}

.modal-info-text-datos {
  margin-top: 10px;
}

.model-info-bottom {
  margin-top: 20px;

}

.model-info-bottom button {
  width: 100%;
  color: white;
  padding-block: 10px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(36, 117, 139);
  font-weight: 900;
}