.card-big {
    width: 100%;
    height: 100%;
    margin: 0px 5px;
    overflow: hidden;
    transition: 0.3s ease box-shadow;
    border-radius: 10px;
    position: relative;
}



.card-big::after {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(-175deg,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.7) 80%);
}

.card-big > img {
    width: 100%;
    height: 100%;
    transition: 0.2s ease filter;
    object-fit: cover;
}

.card-big:hover > img{
    filter: blur(4px);
}

.card-big-content {
    justify-content: space-between;
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    align-items: flex-end;
    z-index: 99;
    padding: 20px;
}

.button-play-cards img {
    width: 20px;
    height: 20px; 
}

.button-play-cards {
    padding: 0;
    margin: 0;
    height: max-content;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(81, 165, 70);
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 10px;
    color: white;
    font-size: 8px;
    gap: 10px;
    transition: all 0.3s;
}

.button-play-cards:hover {
    background-color: rgb(49, 99, 42);

}

.button-play-cards h1 {
    font-weight: 900;
}

.card-big-text {
    width: 70%;
    color: white;
    transition: 0.3s ease transform;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    cursor:default;
    position: relative;
}

.card-big:hover .card-big-text {
    transform: translateY(-6px);
}


.card-big-text h1 {
    font-size: 25px;
}

.card-big-text p {
    font-size: 16px;
    margin-top: 5px;
    color: #83b8df;
    font-weight: 500;
}


.card-large {
    width: 100%;
    height: 160px;
    position: relative;
    background-color: #141414;
    border-radius: 10px;

}



.card-large-img {
    border-radius: 10px;
    width: 100%;
    height: 160px;
    transition: 0.2s ease filter;
    object-fit: cover;
    filter: brightness(0.6);
    
}

.card-large-text {
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 20px;
    width: 100%;
    color: white;
}

.card-large-text h1 {
    font-size: 23px;
}

.card-large-text h3 {
    font-weight: 500;
    color: #83b8df;
}

.card-large-text p {
    margin-top: 7px;
    font-size: 16px;
}

/* Swiper */

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

}