@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");



/* Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html {
  font-family: 'Open Sans', sans-serif;
  background: #1A1B1E;
  color: white;
}

.saveOld{
  background: #1A1B1E;
}

.zone-full {
  width: 100%;
  height: 100vh;
  position: relative;
}



.background-effect {
  width: 100%;
  height: 50vh;
  background-size: cover;
  object-fit: cover;
  filter: brightness(0.7);
}



.titles {
  display: flex;
  justify-content: space-between;
}

.x-button {
  background-color: transparent;
  border-style: none;
  color: white;
  margin-right: 10px;
}

.button-free {
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 15px;
  color: white;
}




.full {
  height: 100vh;
}


.button-general {
  background: #48b6ff;
  color: white;
  border: none;
  font-weight: 100;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.4s;
  padding-inline: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}



html::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}

html::-webkit-scrollbar-track {
  background: #1A1B1E; /* color of the tracking area */
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #1A1B1E; /* creates padding around scroll thumb */
}

* {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

.no-list {
  list-style: none;
  margin-top: 5px;
}


.button-little {
  background-color: transparent;
  padding: 0;
  color: white;
  border: none;
  font-size: 14px;
  text-decoration: underline;
}

.flex {
  display: flex;
  gap: 60px;
}

.column-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.content {
  padding-block: 60px;
  padding-inline: 45px;
  gap: 20px;
}

.content-flex {
  display: flex;
}

.content-70 {
  justify-content: space-between;
  display: flex;
  padding-block: 60px;
  padding-inline: 45px;
  max-width: 100%;
  gap: 60px;
}

.content-70-part-large {
  width: 100%;
  
}

.content-70-short-part {
  min-width: 25%;
}

.transparent {
  color: white;
  background: transparent;
}

.title-little {
  font-weight: 100;
  color: white;
  font-size: 18px;
  margin-right: 5px;
}

.title-notification {
  margin-bottom: 10px;
}

.notification {
font-family: 'Inter', sans-serif;
border-radius: 0;
justify-content: left;
align-items: left;
text-align: left;
}