@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");



/* Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-family: 'Inter', sans-serif;
  color: white;
  overflow: hidden;

}

img {
  animation: loadImage 0.3s ease forwards;
}

@keyframes loadImage {
  to {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

body {
  background-color: #191919;
  overflow: hidden;
  height: 100vh;

}


.drag {
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-app-region: no-drag;
}


.saveOld {
  overflow: overlay;
}

.saveOld {
  background: #1A1B1E;
}

.zone-full {
  width: 100%;
  height: 100vh;
  position: relative;
}



.background-effect {
  width: 100%;
  height: 50vh;
  background-size: cover;
  object-fit: cover;
  filter: brightness(0.7);
}



.titles {
  display: flex;
  justify-content: space-between;
}

.x-button {
  background-color: transparent;
  border-style: none;
  color: white;
  margin-right: 10px;
}

.button-free {
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 15px;
  color: white;
}




.full {
  height: 100vh;
}

.separate {
  width: 100%;
  height: 1px;
  border-radius: 5rem;
  background: rgb(88, 88, 88);
}

.general-input {
  border: none;
  color: #a9a9a9;
  padding: 10px 20px;
  background-color: #2b2b2c;
  border-radius: 4px;
  width: -webkit-fill-available;
}


.button-general {
  font-family: 'Open Sans', sans-serif;
  background: #232426;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.4s;
  padding-inline: 10px;
  padding-top: 8px;
  transition: 0.3s ease box-shadow,0.3s ease background;
  box-shadow: 0px 0px 0px 2px #8f8f8f2e;
  padding-bottom: 8px;
}

.button-general:hover {
  box-shadow: 0px 0px 0px 2px #a2a2a22e;
  background: #353638;
}

.button-follow {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #2D3036;
  transition: all 0.2s;
}

.button-follow p {
  position: absolute;
  display: none;
  color: white;
  background-color: #2D3036;
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 5px;

}

.button-follow:hover p {
  display: flex;

}

.button-follow:hover {
  background-color: rgb(81, 165, 70);

}

.button-follow img {
  position: relative;
  width: 100%;
}



html::-webkit-scrollbar {
  width: 14px;
  /* width of the entire scrollbar */
}

html::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

html::-webkit-scrollbar-thumb {
  background-color: #2D3036;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #1A1B1E;
  /* creates padding around scroll thumb */
}

.content::-webkit-scrollbar {
  width: 14px;
  /* width of the entire scrollbar */
}

.content::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

.content::-webkit-scrollbar-thumb {
  background-color: #2D3036;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #1A1B1E;
  /* creates padding around scroll thumb */
}

.content-no-padding::-webkit-scrollbar {
  width: 14px;
  /* width of the entire scrollbar */
}

.content-no-padding::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

.content-no-padding::-webkit-scrollbar-thumb {
  background-color: #2D3036;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #1A1B1E;
  /* creates padding around scroll thumb */
}



* {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

.no-list {
  list-style: none;
  margin-top: 5px;
}


.button-little {
  background-color: transparent;
  padding: 0;
  color: white;
  border: none;
  font-size: 14px;
  text-decoration: underline;
}

.flex {
  display: flex;
  gap: 60px;
}

.column-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-no-padding {
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: auto;
}



.content-flex {
  display: flex;
}

.content-70 {
  justify-content: space-between;
  position: relative;
  display: flex;
  gap: 60px;
  overflow: auto;
  height: 85vh;
  width: 100%;
  margin-inline: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
}

.content-70-part-large {
  margin-left: 30px;
  margin-top: 20px;
  width: 100%;

}

.content-70-short-part {
  margin-right: 30px;
  margin-top: 20px;
  min-width: 47%;
}

.transparent {
  color: white;
  background: transparent;
}

.title-little {
  font-weight: 100;
  color: white;
  font-size: 18px;
  margin-right: 5px;
}

.title-notification {
  margin-bottom: 10px;
}

.notification {
  font-family: 'Inter', sans-serif;
  border-radius: 0;
  justify-content: left;
  align-items: left;
  text-align: left;
}


.button-play img {
  width: 20px;
  height: 20px;
}

.button-play {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  height: 45px;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(81, 165, 70);
  padding-inline: 15px;
  color: white;
  font-size: 10px;
  gap: 10px;
  transition: all 0.3s;
  border-radius: 10px;
  text-overflow: ellipsis;

}

.button-play:hover {
  background-color: rgb(49, 99, 42);

}

.button-play h1 {
  max-width: 150px;
  white-space: nowrap;
  min-width: 100px;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
}


#root {
  height: 100%;
  background: #191919;
}


.bg-img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -99;
  overflow: hidden;
}

/* Navbar options*/

.nav-options {
  display: flex;
  gap: 5px;
  align-items: center;
  background: rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0px 0px 0px 1px #737a7d4d;
}

.nav-close-app {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
}

.nav-close-app svg {
  width: 100%;
  height: 100%;
  stroke: #999999;
  fill: #999999;
  display: block;
  stroke-width: 2px;
}

/* Home */

.welcome {
  display: flex;
}

.welcome-content {
  position: relative;
}

.welcome>button {
  bottom: 0;
  margin: 30px;
  background-color: #2d2d2d;
  border: none;
  position: absolute;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease background-color;
}

/* Navbar style */

.navbar {
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  margin-inline: 30px;
  position: sticky;
  z-index: 10;
}

.navbar-list {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background: rgba(0, 0, 0, 0.404);
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #737a7d4d;
}


.navbar-item[active="1"]::after {
  content: "";
  width: 40%;
  height: 3px;
  bottom: 0;
  border-radius: 5rem;
  position: absolute;
  background-color: #f4956d;
}

.launcher-title {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  font-size: 15px;
  margin-top: 25px;
  width: 100%;
  background: transparent;
  pointer-events: auto;
}

.navbar-item {
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  border-radius: 4px;
  gap: 5px;
  position: relative;
  transition: all 0.2s;
}

.navbar-item:hover {
  color: rgb(255, 255, 255);
}

.navbar-item svg {
  width: 20px;
  stroke: #979797;
  stroke-width: 2px;
  transition: all 0.2s;
}


.navbar a {
  color: #c3c3c3;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}


/* user */

.user {
  display: flex;
  gap: 10px;
  margin-right: 15px;
}

.user-info {
  display: flex;
  gap: 7px;
  align-items: center;
}

.user-info img {
  width: 25px;
  margin-left: 5px;
  border-radius: 5px;
}

.user-info span {
  max-width: 70%;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 15px;
}

.user button {
  outline: none;
  border: none;
  height: 100%;
  display: flex;
  margin-left: 5px;
  padding: 0px 5px;
  border-radius: 5px;
  background-color: transparent;
}


.user button:hover svg{
  stroke: #f4956d;
}

.user button svg {
  width: 20px;
  
  stroke-width: 2px;
  transition: 0.3s ease stroke;
  stroke: #f4956d;
}

.bg-img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;

}

.bg-img::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  background: linear-gradient(to top, #000000bd, #00000000);
}

.bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Instances */

.list-instances {
  display: flex;
  gap: 10px;

}

.instance {
  width: 450px;
  min-width: 450px;
  height: 250px;
  transition: 0.3s ease width;
  position: relative;
}

.instance::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  z-index: -99;
  background: linear-gradient(to top, black, transparent);
  position: absolute;
}

.instance .play {
  width: fit-content;
  height: 35px;
  border: none;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateY(50px);
  background-color: white;
  padding-right: 15px;
  border-radius: 5rem;
  transition: 0.3s ease transform, 0.3s ease background-color;
  bottom: 0;
  z-index: 99;
  margin: 0px auto;
  position: absolute;
}


.instance .play svg {
  width: 35px;
  fill: #d0d0d0;
}

.instance .play span {
  color: gray;
  font-weight: 600;
}

.instance .play:hover {
  background-color: #3c3b3c;
}

.instance:hover .play {
  transform: translateY(-20px);
}

.launch-div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.launch-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
  width: 95%;
  height: 30%;
  overflow: hidden;
}

.launcher-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.launcher-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}


.launch-div img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  filter: brightness(0.3);
}


.button-launch {
  height: max-content;
  padding-block: 12px;
  padding-inline: 90px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(to right, #62626263, #6a6a6a2e);
  box-shadow: 0px 0px 0px 1px #ffffff4d;
  transition: all 0.2s;
  transition: transform 0.5s ease;
}

.button-launch:hover {
  transform: translateY(-10px);
  text-shadow: 0 0 10px #fff;
}



.button-launch h3 {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
}

.button-launch p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.button-remove {
  height: max-content;
  padding-block: 22px;
  padding-inline: 20px;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  background: linear-gradient(to right, #62626263, #6a6a6a2e);
  box-shadow: 0px 0px 0px 1px #ffffff4d;
  font-size: 17px;
  text-shadow: 0 0 10px #fff;
  transition: transform 0.5s ease;
}

.button-remove:hover {
  transform: translateY(-10px)
}



.content-center {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  position: absolute;
  background: linear-gradient(to top, #202020, #191919);
}

.content-center h2 {
  margin-top: 50px;
  font-size: 25px;
}



.login-content {
  min-width: 20rem;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.news-div {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  justify-content: flex-start;
}


.scroll {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}



.instance-item {
  width:390px;
  height: 235px;
  transition: 0.3s ease box-shadow;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background: #4240406e;
  padding-top: 5px;
  cursor: pointer;
}

.instance-item button {
  margin-left: 10px;
  background-color: #f4956d;
  border: none;
  color: white;
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 5px;
  margin-block: 10px;
  transition: all 0.2s;
}

.instance-item button:hover {
  background-color: rgb(107, 31, 31);
}


.instance-item.active-instance {
  box-shadow: inset 0px 0px 0px 1px rgba(136, 136, 136, 0.744);
}

.instance-item:hover {
  box-shadow: inset 0px 0px 0px 1px rgba(136, 136, 136, 0.744);
}

.instance-item:hover img {
  box-shadow: 0px 0px 0px 1px rgb(251, 251, 251);
}


.instance-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease transform;
}

.instance-item:hover img {
  transform: translateY(5px);
}

.instance-item h3 {
  padding: 0px 11px;
}

.instance-item > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding: 0px 11px;
}

.news-div {
  width: 95%;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
  padding-block: 25px;

}

.news-container {
  width: 95%;
  display: flex;
  padding-inline: 10px;
}

swiper-container {
  max-width: 100%;
}

.container-idk {
  width:  100%;
  height: 100%;
  padding-inline: 30px;
}

.news-item {
  width: 100%;
  height: 235px;
  transition: 0.3s ease box-shadow;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background: #4240406e;
  padding-top: 5px;
  cursor: pointer;
}

.news-item:hover {
  box-shadow: inset 0px 0px 0px 1px rgba(136, 136, 136, 0.744);
}

.news-item:hover img {
  box-shadow: 0px 0px 0px 1px rgb(251, 251, 251);
}


.news-item img{
  border-radius: 0px;

  transition: 0.3s ease transform;
}

.news-item:hover img {
  transform: translateY(5px);
}

.news-item h3 {
  padding: 2px 11px;
}

.news-item p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding: 0px 11px;
  margin-bottom: 5px;
}

.title {
margin-bottom: 10px;
}


.input-warp {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-end;
}


.instances-container {

  display: flex;
  flex-wrap:  wrap;
  gap: 20px;
}

.logo {
  width: 120px;
}



.mid-screen-img {
  width: 1200px;
}